CURSO DE AN√ÅLISE DE DADOS COM PYTHON - CERTI
RAFAEL CALIXTO
DATAFRAMES

In [141]:
from pandas import DataFrame, read_csv, to_datetime

In [142]:
df = read_csv("XRPBTC.csv")

In [143]:
df.set_index("Date", inplace=True)
df.index = to_datetime(df.index)

In [144]:
df.head(5)

,High,Low,Mid,Last,Bid,Ask,Volume
Date,,,,,,,
2019-03-05,0.000082,0.000081,0.000082,0.000082,0.000082,0.000082,2.650157e+06
2019-03-04,0.000082,0.000080,0.000081,0.000081,0.000081,0.000081,2.270225e+06
2019-03-03,0.000082,0.000081,0.000082,0.000082,0.000082,0.000082,1.263727e+06
2019-03-02,0.000083,0.000082,0.000082,0.000082,0.000082,0.000082,1.776641e+06
2019-03-01,0.000084,0.000082,0.000083,0.000083,0.000083,0.000083,2.613528e+06

In [145]:
df.tail(5)

,High,Low,Mid,Last,Bid,Ask,Volume
Date,,,,,,,
2017-05-23,0.000159,0.000130,0.000145,0.000144,0.000143,0.000146,2.929714e+06
2017-05-22,0.000165,0.000115,0.000141,0.000141,0.000140,0.000141,8.063178e+06
2017-05-21,0.000178,0.000160,0.000163,0.000164,0.000162,0.000163,3.390939e+06
2017-05-20,0.000189,0.000147,0.000168,0.000168,0.000167,0.000169,4.924474e+06
2017-05-19,0.000200,0.000130,0.000164,0.000169,0.000159,0.000169,1.133802e+06

In [146]:
df[["High","Low","Ask"]].head(5)

                High       Low       Ask
Date
2019-03-05  0.000082  0.000081  0.000082
2019-03-04  0.000082  0.000080  0.000081
2019-03-03  0.000082  0.000081  0.000082
2019-03-02  0.000083  0.000082  0.000082
2019-03-01  0.000084  0.000082  0.000083

In [147]:
df.corr()

            High       Low       Mid      Last       Bid       Ask    Volume
High    1.000000  0.967601  0.989294  0.989589  0.988825  0.989698 -0.006709
Low     0.967601  1.000000  0.986590  0.986322  0.986977  0.986142 -0.167013
Mid     0.989294  0.986590  1.000000  0.999966  0.999968  0.999968 -0.075164
Last    0.989589  0.986322  0.999966  1.000000  0.999887  0.999981 -0.075109
Bid     0.988825  0.986977  0.999968  0.999887  1.000000  0.999873 -0.075006
Ask     0.989698  0.986142  0.999968  0.999981  0.999873  1.000000 -0.075318
Volume -0.006709 -0.167013 -0.075164 -0.075109 -0.075006 -0.075318  1.000000

In [151]:
resampled_df = df.resample("D", how="ohlc")

/home/dev/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).ohlc()
  """Entry point for launching an IPython kernel.